@import 'https://use.typekit.net/nmv7mjy.css';

* {
  box-sizing: border-box;
}

html, body {
  background: white;
  height: 100%;
  color: #000545;
  font-family: halyard-text, sans-serif;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.1px;
  margin: 0;
  padding: 0;
}

#__next, .container {
  height: 100%;
}

main {
  padding: 24px;
  display: grid;
  height: 100%;
  grid-template-areas: "card card card card" "card card card card" "card card card card" "card card card card";
  grid-gap: 16px;
  grid-template-columns: 23.8%;
}

.search-bar {
  display: flex;
  grid-area: header;
  background: rgba(35, 38, 132, 0.1);
}

.navigation-bar {
  display: flex;
  grid-area: sidebar;
  padding: 100px 0;
  flex-direction: column;
}

.navigation-bar .card {
  border-radius: 6px;
  padding: 10px 16px;
  cursor: pointer;
}

.navigation-bar .card:hover {
  background: rgba(35, 38, 132, 0.1);
}

.wrapped-card {
  background: white;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(19, 55, 128, .09), 0px 0px 2px rgba(19, 55, 128, .11);
  flex: 1;
  padding: 16px;
  position: relative;
}

.wrapped-card.light-blue {
  background: #EBF1FF;
}

.wrapped-card.blue {
  background: #0055EA;
}

.wrapped-card.dark-blue {
  background: #000545;
}

.wrapped-card.purple {
  background: #283CB2;
}

.dashboard-container {
  grid-area: main;
  display: grid;
  gap: 24px;
  
}

.medium {
  max-width: 272px;
  max-height: 150px;
}

.large {
  max-width: 544px;
  max-height: 300px;
}

.dash-card {
  flex: 1;
  display: flex;
}

.dash-zone {
  border: 1px dashed #C1CCE6;
  border-radius: 6px;
}

.dash-zone:hover {
  background: #F0F5FF;
  border-color: #0055EA;
}